# Copia este archivo a .env y completa los valores

# PostgreSQL local
# Formato: postgresql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_DB?schema=public
DATABASE_URL="postgresql://dicaprev@localhost:5432/mi_app?schema=public"
